#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P      &kp G      &kp J    &kp L      &kp U      &kp Y    &kp SEMI  &kp BSLH
&kp BSPC   &kp A  &kp R  &kp S     &kp T      &kp D      &kp H    &kp N      &kp E      &kp I    &kp O     &kp SQT
&mkp LCLK  &kp Z  &kp X  &kp C     &kp V      &kp B      &kp K    &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp LSHFT
                         &kp LGUI  &kp SPACE  &kp RET    &kp RET  &kp SPACE
            >;

            trackball-bindings = <&tmv_coarse>;
        };
    };
};
